@charset "UTF-8";
/* ブレークポイント */
/* A Modern CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* ul[class],
ol[class] {
  padding: 0;
} */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
html {
  font-size: 2.6666666667vw;
  color: #4E301B;
  scroll-behavior: smooth;
}
@media screen and (max-width: 1023px) and (min-width: 751px) {
  html {
    font-size: 1vw;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Noto Sans JP";
  font-weight: bold;
  background-color: #FDF9EF;
}
body * {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 128rem;
  }
}

.h2__title {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}

.sp-br {
  display: block;
}
@media (min-width: 768px) {
  .sp-br {
    display: none;
  }
}

.pc-br {
  display: none;
}
@media (min-width: 768px) {
  .pc-br {
    display: block;
  }
}

.footer__contents {
  position: relative;
  background-color: #fff;
}
.footer__contents-lo {
  padding-top: 2.2rem;
}
.footer__logo-lo {
  margin: 0 auto;
}
.footer__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
@media (min-width: 768px) {
  .footer__nav {
    flex-wrap: unset;
    gap: 2.5rem;
  }
}
.footer__nav-lo {
  margin-top: 7.3rem;
  padding-bottom: 9.7rem;
}
.footer__link {
  font-size: 1.6rem;
  color: #4E301B;
}
.footer__copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background-color: #D9D9D9;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer__img {
  width: 12rem;
}
@media (min-width: 768px) {
  .footer__img {
    width: unset;
  }
}
.footer__img01-lo {
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer__img02-lo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.c-hambugerIcon {
  position: relative;
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  border: none;
  border-radius: 50%;
  background: #FED966;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  z-index: 110;
}
@media (min-width: 768px) {
  .c-hambugerIcon {
    display: none;
  }
}
.c-hambugerIcon-lo {
  position: absolute;
  top: 3%;
  right: 5%;
}
.c-hambugerIcon--open {
  position: fixed;
}
@media (min-width: 1024px) {
  .c-hambugerIcon {
    display: none;
  }
}
.c-hambugerIcon__line {
  display: block;
  width: 1.8rem;
  height: 0.2rem;
  background: #000;
}
.c-hambugerIcon__line-lo {
  position: absolute;
  left: 50%;
}
.c-hambugerIcon__line-lo:first-of-type {
  top: 40%;
  transform: translate(-50%, -50%);
}
.c-hambugerIcon__line-lo:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.c-hambugerIcon__line-lo:last-of-type {
  top: 60%;
  transform: translate(-50%, -50%);
}
.c-hambugerIcon__line--open:first-of-type {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.c-hambugerIcon__line--open:nth-of-type(2) {
  display: none;
}
.c-hambugerIcon__line--open:last-of-type {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.c-logo {
  display: block;
  width: 30rem;
  height: 15.5rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .c-logo {
    width: 30rem;
    height: 15.5rem;
  }
}
.c-logo--loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.c-logo--lg {
  position: relative;
  height: 21rem;
}
.c-logo--lg-lo {
  margin: 0 auto;
  justify-self: center;
  top: -4.8rem;
}
@media (min-width: 768px) {
  .c-logo--lg-lo {
    top: -4.3rem;
  }
}
.c-logo--lg::before {
  position: absolute;
  display: block;
  content: "";
  width: 15.4rem;
  height: 15.4rem;
  border-radius: 50%;
  background-color: #FDF9EF;
  z-index: 1;
  top: 4.8rem;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.c-logo__logoImg {
  width: 5.5rem;
  height: 5.5rem;
  margin: 0 auto;
}
.c-logo__logoImg--lg {
  position: relative;
  width: 9.6rem;
  height: 9.6rem;
  margin: 0 auto;
  z-index: 1;
}
.c-logo__logoName {
  position: relative;
  width: 30rem;
  height: 10rem;
  z-index: 10;
}

.c-productCard {
  display: block;
  width: 26.4rem;
  height: 33.1rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
}
.c-productCard__img {
  width: 26.4rem;
  height: 16.6rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-productCard__textContents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 16.5rem;
  padding: 1.8rem 2rem;
  background-color: #fff;
}
.c-productCard__text {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.5;
}
.c-productCard__price {
  width: 100%;
  font-weight: 400;
  font-size: 1.6rem;
}

.c-swiper {
  display: block;
  width: 100%;
  overflow: hidden;
}
.c-swiper .swiper-wrapper {
  width: 100%;
}
.c-swiper .swiper-slide {
  width: 26.4rem !important;
}

.c-form__input {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* リセットじゃない部分 */
  border: 1px solid rgba(0, 0, 0, 0.16);
}
.c-form__input:focus {
  outline: 2px solid #3498db;
  /* 自由な色に変更可能 */
  outline-offset: 0;
}

.loading {
  position: fixed;
  z-index: 200;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}
.loading--hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 2.5s;
}

.mv {
  position: relative;
  display: block;
  background-image: url("../../../images/fv.jpg");
  width: 100%;
  height: 66.7rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.mv__cover {
  display: none;
}
.mv__cover--open {
  display: block;
  width: 100vw;
  height: 1000vh;
  position: fixed;
  content: "";
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}
@media (min-width: 768px) {
  .mv {
    height: 85.4rem;
  }
}
.mv__title {
  position: absolute;
  width: 25rem;
  font-size: 2.4rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .mv__title {
    width: unset;
    height: 46rem;
    font-size: 3.2rem;
    writing-mode: vertical-rl;
    letter-spacing: 1.6rem;
  }
}
.mv__title-lo {
  top: 63.4%;
  left: 8.8%;
}
@media (min-width: 768px) {
  .mv__title-lo {
    top: 13%;
    right: 11.2%;
  }
}
.mv__title--decoration {
  display: inline-block;
  background-color: #fff;
}
.mv__title--decoration-lo {
  padding: 0.1rem 0.72rem;
  margin-bottom: 0.6rem;
}
@media (min-width: 768px) {
  .mv__title--decoration-lo {
    padding: 1rem 0.8rem 0;
    margin-left: 2rem;
    margin-bottom: unset;
  }
}
.mv__title--decoration-lo:last-of-type {
  margin-bottom: unset;
}
.mv__navSp {
  position: relative;
  display: none;
  width: 30rem;
  z-index: 110;
}
.mv__navSp--open {
  position: fixed;
}
.mv__navSp-lo {
  top: 9.2%;
  left: 50%;
  transform: translateX(-50%);
}
.mv__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mv__list-lo {
  padding-top: 3.4rem;
}
.mv__item {
  text-align: center;
}
.mv__item-lo {
  margin-bottom: 1.5rem;
}
.mv__link {
  color: #4E301B;
  font-size: 1.6rem;
}

.navPc {
  display: none;
  width: 100%;
}
@media (min-width: 768px) {
  .navPc {
    position: relative;
    display: block;
  }
  .navPc-lo {
    top: -12rem;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .navPc {
    width: 104.4rem;
  }
}
.navPc__list {
  display: flex;
  padding-left: 1rem;
  padding-right: 4rem;
}
@media (min-width: 1024px) {
  .navPc__list {
    padding: unset;
  }
}
.navPc__list--left-lo {
  position: absolute;
  left: 0;
}
.navPc__list--right-lo {
  justify-content: flex-end;
  justify-self: right;
}
@media (min-width: 1024px) {
  .navPc__list--right-lo {
    padding-right: 6.4rem;
  }
}
.navPc__item-lo {
  margin-right: 3.8rem;
}
.navPc__item--right-lo {
  margin-left: 3.9rem;
  margin-right: unset;
}
.navPc__link {
  font-size: 1.6rem;
  color: #4E301B;
}

.about {
  position: relative;
  display: block;
  width: 100%;
  height: 52rem;
}
@media (min-width: 768px) {
  .about {
    height: 81.2rem;
  }
}
@media (min-width: 1024px) {
  .about {
    width: 119.4rem;
    height: 81.2rem;
  }
}
@media (min-width: 768px) {
  .about-lo {
    top: -3.6rem;
    margin: 0 auto;
  }
}
.about__title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.6rem;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 700;
  color: #35A1C3;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
@media (min-width: 768px) {
  .about__title {
    height: 7.6rem;
    width: 74rem;
    font-size: 4rem;
  }
}
.about__title-lo {
  top: -3rem;
  left: 0;
}
@media (min-width: 768px) {
  .about__title-lo {
    top: 5.5rem;
    left: 13.5rem;
  }
}
.about__text {
  position: absolute;
  width: 100%;
  height: 48rem;
  font-size: 1.4rem;
  line-height: 2.1428571429;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}
@media (min-width: 768px) {
  .about__text {
    width: 52.6rem;
    height: 59rem;
    font-size: 1.6rem;
    line-height: 2.5;
  }
}
.about__text-lo {
  top: 4.6rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .about__text-lo {
    top: 16rem;
    left: 13.5rem;
    padding: 1.5rem;
  }
}
.about__img01 {
  position: absolute;
  display: block;
  z-index: 1;
}
.about__img01-lo {
  top: 0;
  right: 0;
}
.about__img02 {
  position: absolute;
  display: block;
  z-index: 1;
}
.about__img02-lo {
  bottom: 0;
  right: 0;
}

.product-lo {
  margin-top: 9rem;
  margin-bottom: 9.3rem;
}
.product__title-lo {
  margin-bottom: 9rem;
}

.info {
  background-color: #fff;
  position: relative;
}
.info-lo {
  padding-top: 9rem;
  padding-bottom: 9.1rem;
}
.info__title-lo {
  margin-bottom: 8.8rem;
}
.info__list {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .info__list {
    width: 93.4rem;
  }
}
.info__list-lo {
  margin: 0 auto;
}
.info__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 6.8rem;
  border-top: 1px solid #C6C6C6;
}
.info__link-lo {
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .info__link-lo {
    padding: unset;
  }
}
@media (min-width: 768px) {
  .info__link {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
.info__link--last {
  border-bottom: 1px solid #C6C6C6;
}
.info__date {
  width: 18.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #4E301B;
}
.info__text {
  font-size: 1.3rem;
  font-weight: 400;
  color: #4E301B;
}
@media (min-width: 768px) {
  .info__text {
    font-size: 1.6rem;
  }
}
.info__img {
  position: absolute;
  width: 15rem;
}
@media (min-width: 768px) {
  .info__img {
    width: 20rem;
  }
}
@media (min-width: 1024px) {
  .info__img {
    width: unset;
  }
}
.info__img-lo {
  bottom: -3.9rem;
  right: 0;
}
@media (min-width: 768px) {
  .info__img-lo {
    bottom: -5.8rem;
  }
}
@media (min-width: 1024px) {
  .info__img-lo {
    bottom: -7.8rem;
  }
}

.faq {
  position: relative;
}
.faq-lo {
  padding-top: 9rem;
  padding-bottom: 6.7rem;
}
.faq__contents {
  width: 96%;
}
@media (min-width: 768px) {
  .faq__contents {
    width: 74rem;
  }
}
.faq__contents-lo {
  margin: 7.2rem auto 0;
}
.faq__card {
  margin-bottom: 3.1rem;
}
.faq__card:last-of-type {
  margin-bottom: unset;
}
.faq__question {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6rem;
  font-size: 1.6rem;
  background-color: #fff;
  color: #4E301B;
}
@media (min-width: 768px) {
  .faq__question {
    font-size: 1.8rem;
    height: 5rem;
  }
}
.faq__question-lo {
  padding-left: 3.7rem;
  padding-right: 5rem;
  margin-bottom: 2.4rem;
}
@media (min-width: 768px) {
  .faq__question-lo {
    padding-right: unset;
  }
}
.faq__question::before {
  position: absolute;
  content: "Q";
  font-family: "Roboto";
  font-size: 2.4rem;
  font-weight: 700;
  top: 52%;
  left: 1.2rem;
  transform: translateY(-50%);
}
.faq__question::after {
  content: "\f107";
  font: var(--fa-font-solid);
  position: absolute;
  top: 52%;
  right: 1.6rem;
  transform: translateY(-50%);
}
.faq__question--open::after {
  content: "\f106";
  font: var(--fa-font-solid);
  position: absolute;
  top: 52%;
  right: 1.6rem;
  transform: translateY(-50%);
}
.faq__answer {
  display: none;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4E301B;
}
.faq__answer-lo {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .faq__answer-lo {
    padding: unset;
  }
}
@media (min-width: 768px) {
  .faq__answer {
    font-size: 1.6rem;
  }
}
.faq__answer--open {
  display: block;
}
.faq__img {
  position: absolute;
  width: 18rem;
  bottom: -5.8rem;
  left: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .faq__img {
    width: 24rem;
    bottom: -7rem;
  }
}
@media (min-width: 1024px) {
  .faq__img {
    width: unset;
    bottom: -12.6rem;
  }
}

.access {
  position: relative;
  background-color: #fff;
}
.access-lo {
  padding-top: 9rem;
  padding-bottom: 8rem;
}
.access__contents {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 96%;
}
@media (min-width: 768px) {
  .access__contents {
    flex-direction: row;
    gap: 3.2rem;
    width: 93.4rem;
  }
}
.access__contents-lo {
  margin: 6rem auto 0;
}
@media (min-width: 768px) {
  .access__contents-lo {
    margin: 8.8rem auto 0;
  }
}
.access__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .access__list {
    width: 45.9rem;
  }
}
.access__item {
  display: flex;
  align-items: center;
  height: 6rem;
  font-size: 1.6rem;
  border-top: 0.1rem solid #C6C6C6;
}
@media (min-width: 768px) {
  .access__item {
    font-size: 1.8rem;
  }
}
.access__item-lo {
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .access__item-lo {
    padding-left: unset;
  }
}
.access__item:last-of-type {
  border-bottom: 0.1rem solid #C6C6C6;
}
.access__header {
  width: 10rem;
}
@media (min-width: 768px) {
  .access__header {
    width: 17.4rem;
  }
}
.access__mapContents {
  display: block;
}
.access__map {
  width: 100%;
  height: 23.4rem;
}
@media (min-width: 768px) {
  .access__map {
    width: 44.3rem;
    height: 33.4rem;
  }
}
.access__img {
  position: absolute;
  right: 0;
  transform: translateY(50%);
  width: 16rem;
  bottom: 0.6rem;
}
@media (min-width: 768px) {
  .access__img {
    width: 20rem;
    bottom: 0.4rem;
  }
}
@media (min-width: 1024px) {
  .access__img {
    width: unset;
  }
}

.contact-lo {
  padding-top: 6.2rem;
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  .contact-lo {
    padding-top: 10.2rem;
    padding-bottom: 3rem;
  }
}
.contact__title-lo {
  margin-bottom: 3.5rem;
}
@media (min-width: 768px) {
  .contact__title-lo {
    margin-bottom: 6.5rem;
  }
}
.contact__text {
  font-size: 1.6rem;
  text-align: center;
}
@media (min-width: 768px) {
  .contact__text {
    font-size: 1.8rem;
  }
}

.form {
  width: 96%;
  background-color: #fff;
  border-radius: 2rem;
}
@media (min-width: 768px) {
  .form {
    width: 74rem;
  }
}
.form-lo {
  margin: 9.3rem auto 0;
  padding: 3.4rem 0 4.4rem;
}
.form__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}
.form__contents-lo {
  margin-top: 4.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 4.9rem;
}
@media (min-width: 768px) {
  .form__contents-lo {
    margin-top: 4.4rem;
    padding-left: 7.6rem;
    padding-right: 7.6rem;
    margin-bottom: 4.9rem;
  }
}
.form__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .form__group {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.form__group-lo {
  margin-bottom: 2.4rem;
}
.form__radioTitle {
  font-size: 1.6rem;
  align-self: flex-start;
}
.form__radioTitle-lo {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .form__radioTitle-lo {
    margin-bottom: unset;
  }
}
.form__typeRadio {
  display: flex;
  flex-direction: column;
  width: 33.4rem;
}
.form__typeRadio--label {
  align-self: start;
}
.form__tag {
  display: inline-block;
  width: 5rem;
  height: 3rem;
  font-size: 1.4rem;
  background-color: #FED966;
  border-radius: 1rem;
  text-align: center;
}
.form__tag-lo {
  padding: 0.4rem 0;
  margin-left: 1.8rem;
}
.form__label {
  display: inline-block;
  align-self: flex-start;
  font-size: 1.6rem;
}
.form__label-lo {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .form__label-lo {
    margin-bottom: unset;
  }
}
@media (min-width: 768px) {
  .form__label {
    align-self: center;
  }
}
.form__label--info-lo {
  align-self: flex-start;
  margin-top: 0.4rem;
}
.form__label--radio {
  font-weight: 400;
  align-self: flex-start;
}
.form__label--radio-lo {
  margin-bottom: 1rem;
}
.form__button {
  display: flex;
  width: 24.3rem;
  height: 4.6rem;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1.4rem;
  background-color: #FED966;
  border-radius: 1rem;
}
.form__button-lo {
  margin: 0 auto;
}

/* @use "object/utility/spacing"; */
/*# sourceMappingURL=style.css.map */