@use  "../../foundation/mixins" as min;
@use  "../../foundation/variables" as var;
//ハンバーガーメニュー
.c-hambugerIcon {
    position: relative;
    display: block;
    width: 4.8rem;
    height: 4.8rem;
    border: none;
    border-radius: 50%;
    background: #FED966;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
    z-index: 110;
    @include min.breakpoint(tablet) {
        display: none;
    }
    &-lo {
        position: absolute;
        top: 3%;
        right: 5%;
    }
    &--open {
        position: fixed;
    }
    @include min.breakpoint(pc) {
        display: none;
    }
    &__line {
        display: block;
        width: 1.8rem;
        height: 0.2rem;
        background: #000;
        &-lo {
            position: absolute;
            left: 50%;
            &:first-of-type {
                top: 40%;
                transform: translate(-50%, -50%);
            }
            &:nth-of-type(2) {
                top: 50%;
                transform: translate(-50%, -50%);
            }
            &:last-of-type {
                top: 60%;
                transform: translate(-50%, -50%);
            }
        }
        //ハンバーがメニューがクリックされた時のXボタン
        &--open {
            &:first-of-type {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            &:nth-of-type(2) {
                display: none;
            }
            &:last-of-type {
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }
}